@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "N27";
    src: url("./assets/fonts/N27-Regular.woff2") format("woff2"),
        url("./assets/fonts/N27-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mukta";
    src: url("./assets/fonts/Mukta-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Overpass";
    src: url("./assets/fonts/Overpass-Regular.woff2") format("woff2"),
        url("./assets/fonts/Overpass-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth !important;
}
body {
    margin: 0;
}

.css-3hyvaz-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #4d4e50 !important;
}
.MuiTab-textColorPrimary.Mui-selected {
    background: linear-gradient(103.8deg, #c686c4 17.97%, #799ec7 74%);
    color: white !important;
}
.css-9pbwwg-MuiTabs-indicator {
    height: 0;
}
.css-ht3phu {
    padding-top: 20px;
    border: 1px solid #e6e6e6;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%);
    margin-bottom: 10px;
}
.CardField {
    background-color: red;
}
.border-gradient:hover {
    box-shadow: 0 0 9px 1px rgba(157, 96, 212, 0.5) ;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    transition: all 0.2s linear;
  }

  .spin-animation {
    animation: spin 7s ease infinite;  
  }
  @keyframes spin {
    0%  {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(60deg);
    }
}

.up-and-down-animation {
    position: relative;
    animation: up-and-down 3s ease infinite;
}
@keyframes up-and-down {
    0% , 100% {
        top:0;
        transform:rotate(0deg);

    }
    50% {
        top:50px;
        transform:rotate(15deg);

    }
}
@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-100px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
} 
 
 .bounce-animation {
    animation: bounce 2s ease infinite;
 }

 input:focus , textarea:focus{
    outline: none;
    border-top: 2px solid #799ec7;
    border-right: 2px solid #799ec7;
    border-left: 2px solid #c686c4;
    border-bottom:2px solid #c686c4;
    background-image: 
        linear-gradient(#799ec7, #c686c4),
        linear-gradient(#799ec7, #c686c4);
    background-size:0px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
    box-shadow: 0 0 9px 0px #c686c4;
    transition: all 0.4s ease-in;
 }
 input , textarea{
    transition: all 0.4s ease-in;
    border: 2px solid transparent;
 }